/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "main";
@import "country";


.navbar-inverse{
	background-color: #222f2c;
	border-color: #fff;

}

body{
	background-color: #efefef;
	padding-top: 50px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #ff383f;
}

.navbar-inverse .navbar-nav > .active > a {
	
	border-radius: 50px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
	font-size: 1em;
	font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #E14658;
	color: #FFF;
	border-radius: 50px;
}

.navbar-nav > li {
	margin: 5px 10px;
}

.main-container {
  padding: 40px 15px;
  text-align: center;
}




