// Place all the styles related to the Broadcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #ffffff;
}

.navbar-default{
	background-color: #000;
}

.broadcast-navbar{
	background-color: #00E5EE;
	ul {
		li{
			a{
				color: #fff !important;
				font-family: 'Arial', serif;
				font-weight: bolder;
				font-size: 2em;
				&:hover{
				color: #F5F5F5 !important;

				}
			}

			&:hover{
				background-color: #00ced6 !important;
			}


		}
	}
}