.container
	%nav.navbar-default.broadcast-navbar
		.navbar-collapse.collapse
			%ul.nav.navbar-nav
				%li
					%a{:href => "#", :class=>"active"}Home
				%li
					%a{:href => "#", :class=>""}=user_signed_in? ? "Logout" : "Login"
